@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
body{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  background: #076585; 
  background: -webkit-linear-gradient(to right, #fff, #076585 , aliceblue , #5fc0e1 ); 
  background: linear-gradient(to right, #fff, #076585, aliceblue , #5fc0e1 ); 
  background-size: 400% 400%;
  animation: gradient  3s linear infinite;
  font-family: 'Nunito', sans-serif;
  cursor:pointer;
}

@keyframes gradient {
   0%{
    background-position: 0% 50%;
   }

  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 100% 0%;
  }
}

.center_div{
  height: 90vh;
  width: 50vw;
  background: linear-gradient( to top , #f2fcfe , #1c92d2);
  position: relative;
  margin: 20px auto 0 auto;
  border-radius: 16px;
  display:flex;
  flex-direction: column;
  align-items: center;
  
}

.custom-shape-divider-bottom-1678617430 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
   z-index: 0;
}

.custom-shape-divider-bottom-1678617430 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 226px;
  transform: rotateY(180deg);
  
}

.custom-shape-divider-bottom-1678617430 .shape-fill {
  fill:#ffff;
}

input{
  margin-top: 30px;
  height: 25px;
  border-radius: 12px;
  border: none;
  color: #076585;
  font-weight: 600;
  text-align: center;
}

input::placeholder{
  color: blue;
   text-align: center;
  font-weight: 600;
}

button{
   align-self: flex-end;
   margin-right: 40px;
   margin-top: -25px;
 }

 .icon{
     position:relative;
     top:-22px;
     left: -70px;
 }


 @media (max-width: 330px) {
.center_div{
  margin: auto;
  width: 70vw;
  padding: 0;
}
input{
  width: 80%;
}
p{
  padding: 5px;
  font-weight: 400;
  font-size: 15px;
}
}


@media (max-width: 287px) {
  .icon{
    position:relative;
    top:-22px;
    left: -30px;
}
  }
  
